<main>
  <div class="container">
    <div class="row justify-content-md-center w-100">
      <div class="alert alert-danger w-75" [hidden]="!error">
        Rejestracja nieudana. {{errorMessage}}
      </div>
    </div>

    <div class="row justify-content-md-center p-1">
      <h4>Rejestracja</h4>
    </div>
    <div class="row justify-content-md-center p-3">
      <form role="form" class="w-50" [formGroup]="registerForm" (submit)="register($event)" novalidate id="registerForm">
        <div class="form-group">
          <label for="username">Login:</label>
          <input type="text" class="form-control" formControlName="username" id="username" name="username" required/>
          <div *ngIf="registerForm.controls['username'].invalid && (registerForm.controls['username'].dirty || registerForm.controls['username'].touched)" class="text-danger">
            Pole nie może być puste
          </div>
        </div>
        <div class="form-group">
          <label for="password">Hasło:</label>
          <input type="password" class="form-control" formControlName="password" id="password" name="password" required/>
          <div *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)" class="text-danger">
            Pole nie może być puste
          </div>
        </div>
        <div class="form-group">
          <label for="password2">Powtórz hasło:</label>
          <input type="password" class="form-control" formControlName="password2" id="password2" name="password2" required/>
          <div *ngIf="registerForm.controls['password2'].value != registerForm.controls['password'].value && !registerForm.controls['password2'].invalid && (registerForm.controls['password2'].dirty || registerForm.controls['password2'].touched)" class="text-danger">
            Brak zgodności z polem "Hasło"
          </div>
          <div *ngIf="registerForm.controls['password2'].invalid && (registerForm.controls['password2'].dirty || registerForm.controls['password2'].touched)" class="text-danger">
            Pole nie może być puste
          </div>
        </div>
        <div class="form-group">
          <label for="mail">Adres email:</label>
          <input type="text" class="form-control" formControlName="mail" id="mail" name="mail" required email="true"/>
          <div *ngIf="registerForm.controls['mail'].invalid && (registerForm.controls['mail'].dirty || registerForm.controls['mail'].touched)" class="text-danger">
            <div *ngIf="registerForm.controls['mail'].errors.email" class="text-danger">
              Wartość niezgodna z formatem email
            </div>
            <div *ngIf="registerForm.controls['mail'].errors.required" class="text-danger">
              Pole nie może być puste
            </div>
          </div>
        </div>
        <div class="form-group-tiny d-inline-block w-100">
          <div>
            <input type="checkbox" class="form-control d-inline-block" formControlName="regulations" id="regulations" name="regulations" required/>
            <label for="regulations" class="d-inline-block">&nbsp;Akceptuję <a href="/regulations">regulamin</a> portalu</label>
          </div>
          <div
            *ngIf="registerForm.controls['regulations'].invalid && (registerForm.controls['regulations'].dirty || registerForm.controls['regulations'].touched)" class="text-danger">
            Brak zaakceptowanego regulaminu
          </div>
        </div>
        <div class="w-100 text-center mt-4">
          <button type="submit" [disabled]="submitDisabled()" class="btn btn-secondary">
            <i class="fa fa-user-plus"></i>
            Zarejestruj
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
