#registerForm .form-group{
  height: 80px;
}
#registerForm .form-group-small{
  height: 50px;
}
#registerForm .form-group-tiny{
  height: 30px;
}
input[type="checkbox"]{
  width: 15px;
  height: 15px;
}
