<main>
  <div class="container justify-content-md-center p-2">
    <div class="row p-3">
      <div [hidden]="!showDeleteSharingErrorMessage" class="alert alert-danger w-100">
        Błąd podczas usuwania udostępnienia. Spróbuj ponownie.
      </div>
      <div [hidden]="!showDeleteSharingSuccessMessage" class="alert alert-success w-100">
        Udostępnienie zasobu zostało usunięte.
      </div>
      <div [hidden]="!showGetSharingInfoErrorMessage" class="alert alert-success w-100">
        Błąd podczas pobierania informacji o udostępnieniu. Spróbuj ponownie.
      </div>
    </div>
    <div class="row my-3">
      <h3>Udostępnione przeze mnie</h3>
    </div>
    <div class="row justify-content-md-center mt-5" [hidden]="filesNotEmpty()">
      <h4>Brak plików</h4>
    </div>
    <div class="row justify-content-md-center" [hidden]="!filesNotEmpty()">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th scope="col">Ścieżka</th>
            <th scope="col">Identyfikator</th>
            <th scope="col">Widoczność</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let sharedFile of sharedFiles">
            <td>{{sharedFile.path}}</td>
            <td>{{sharedFile.id}}</td>
            <td>
              <span [hidden]="!sharedFile.is_public">Wszyscy</span>
              <a [hidden]="sharedFile.is_public" href="javascript:void(0);" (click)="showFriends(sharedFile)"
                 placement="top" ngbTooltip="Pokaż listę znajomych" tooltipClass="my-tooltip">Znajomi</a>
            </td>
            <td>
              <i class="fa fa-trash my-tooltip mr-3" style="cursor: pointer;" (click)="deleteSharing(sharedFile)"
                 placement="top" ngbTooltip="Usuń udostępnienie" tooltipClass="my-tooltip">
              </i>
            </td>
            <td></td>
          </tr>
          </tbody>
        </table>
    </div>
  </div>


  <div class="modal fade" id="showFriendsModal" tabindex="-1" role="dialog" aria-labelledby="showFriendsModalTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="showFriendsModalTitle">Szczegóły udostępnienia</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Udostępnione dla:
          <ol>
            <li class="with-style" *ngFor="let friendName of friendNames"> {{friendName}}</li>
          </ol>
        </div>
        <div class="modal-footer">
          <button type="button" [hidden]="true" id="showShowFriendsModalButton" data-toggle="modal" data-target="#showFriendsModal">Pokaż</button>
          <button type="button" class="btn btn-primary" id="closeShowFriendsModalButton" data-dismiss="modal">Zamknij</button>
        </div>
      </div>
    </div>
  </div>

</main>
