<nav class="navbar navbar-expand navbar-dark navbar-full" style="background-color: #303332; height: 70px;">
  <!-- Links -->
  <a class="ml-3 ml-lg-5" href="/"><img src="assets/img/logo_small.png" style="margin-top:30px"></a>
  <ul class="nav navbar-nav ml-4">
    <li class="nav-item" [hidden]="username().length == 0">
      <span class="pt-2" style="display: block;color:#f2f2f2">
        <i class="far fa-user"></i>
        Witaj, {{ username() }}
      </span>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto" id="navbar-shortcuts">
    <li class="nav-item" [hidden]="!authenticated()">
      <a class="nav-link my-link" href="/my-sharings">
        <i class="fa fa-file-upload"></i>
        Udostępnione przez mnie
      </a>
    </li>
    <li class="nav-item" [hidden]="!authenticated()">
      <a class="nav-link my-link" href="/shared">
        <i class="fa fa-file-download"></i>
        Udostępnione dla mnie
      </a>
    </li>
    <li class="nav-item" [hidden]="!authenticated()">
      <a class="nav-link my-link" href="/friends">
        <i class="fa fa-users"></i>
        Znajomi
      </a>
    </li>
    <li [hidden]="!authenticated()">
      <button class="btn btn-secondary" (click)="logout()">
        <i class="fa fa-sign-out-alt"></i>
        Wyloguj
      </button>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto" id="navbar-menu">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle my-link" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-ellipsis-h"></i>
        Więcej
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
        <a class="dropdown-item" href="/my-sharings">
          <i class="fa fa-file-upload"></i>
          Udostępnione przez mnie
        </a>
        <a class="dropdown-item" href="/shared">
          <i class="fa fa-file-download"></i>
          Udostępnione dla mnie
        </a>
        <a class="dropdown-item" href="/friends">
          <i class="fa fa-users"></i>
          Znajomi
        </a>
      </div>
    </li>
    <li [hidden]="!authenticated()">
      <button class="btn btn-secondary" (click)="logout()">
        <i class="fa fa-sign-out-alt"></i>
        Wyloguj
      </button>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>

<footer class="navbar navbar-expand navbar-dark">
  <ul class="nav navbar-nav mx-auto">
    <li class="nav-item">
      <a class="nav-link" href="/regulations">Regulamin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="mailto:contact@fileserve.com">Kontakt</a>
    </li>
  </ul>
</footer>
