nav, footer {
  background-color: #303332;
  position: fixed;
  width: 100%;
  z-index: 2;
}

nav {
  top: 0;
}

#navbar-menu {
  display: none;
}

@media screen and (max-width: 1400px) {
  #navbar-menu {
    display: flex;
  }

  #navbar-shortcuts {
    display: none;
  }
}

.my-link {
  color: #f2f2f2 !important;
  text-decoration: none;
}

.my-link:hover{
  color: #999999 !important;
}

nav li, footer li {
  margin-left: 40px;
  margin-right: 40px;
}

footer {
  bottom: 0;
}
