<main>
  <div class="container justify-content-md-center p-2">
    <div class="row justify-content-start my-3">
      <i class="fa fa-share-alt-square fa-2x" (click)="goToUpperDirectory(0)" style="cursor: pointer;"></i>
      <h3 *ngFor="let segment of segments; let i = index" [attr.data-index]="i" [hidden]="i == 0" (click)="goToUpperDirectory(i)" style="cursor: pointer;">&nbsp;/{{segment.path}}</h3>
    </div>
    <div class="row justify-content-md-center mt-5" [hidden]="filesNotEmpty()">
      <h4>Brak plików</h4>
    </div>
    <div class="row justify-content-md-center" [hidden]="!filesNotEmpty()">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th scope="col" style="width: 50px;"></th>
            <th scope="col">Nazwa pliku</th>
            <th scope="col">Data utworzenia</th>
            <th scope="col">Rozmiar [bajty]</th>
            <th scope="col">Ilość pobrań</th>
            <th scope="col">Właściciel</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let file of files">
            <td *ngIf="file.is_dir"><img src="assets/img/directory.png" (click)="goToLowerDirectory(file)" style="width:40px; cursor: pointer;"></td>
            <td *ngIf="file.is_dir"><a href="javascript:void(0);" (click)="goToLowerDirectory(file)">{{file.name}}</a></td>
            <td *ngIf="!file.is_dir"><img src="{{getFileAsset(file.name)}}" style="width:40px"></td>
            <td *ngIf="!file.is_dir">{{file.name}}</td>
            <td>{{file.creation_date | date:'yyyy-MM-dd HH:mm' : '+0000'}}</td>
            <td>{{file.size}}</td>
            <td><span *ngIf="!file.is_dir">0</span></td>
            <td>{{file.owner}}</td>
            <td>
              <i *ngIf="!file.is_dir" class="fa fa-download my-tooltip" style="cursor: pointer;"
                 (click)="download(file)" placement="top" ngbTooltip="Pobierz" tooltipClass="my-tooltip">
              </i>
            </td>
          </tr>
          </tbody>
        </table>
    </div>
  </div>
</main>
