<main>
  <div class="container">
    <div class="alert alert-danger" [hidden]="!error">
      Logowanie nieudane. Proszę spróbować ponownie.
    </div>

    <div class="row p-4">
      <div class="col-6 p-4">
        <div class="mb-2">
          <h4>Mam już konto</h4>
        </div>
        <form role="form" class="w-75" [formGroup]="loginForm" (submit)="login($event)" novalidate id="loginForm">
          <div class="form-group">
            <label for="username">Login:</label>
            <input type="text" class="form-control" formControlName="username" id="username" name="username" required/>
            <div *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)" class="text-danger">
              Pole nie może być puste
            </div>
          </div>
          <div class="form-group">
            <label for="password">Hasło:</label>
            <input type="password" class="form-control" formControlName="password" id="password" name="password" required/>
            <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="text-danger">
              Pole nie może być puste
            </div>
          </div>
          <div class="w-100 text-center mt-4">
            <button type="submit" [disabled]="this.loginForm.controls['username'].invalid || this.loginForm.controls['password'].invalid" class="btn btn-secondary">
              <i class="fa fa-lock"></i>
              Zaloguj
            </button>
          </div>
        </form>
      </div>
      <div class="col-6 p-4 text-center">
        <div class="text-center">
          <h4>Chcę założyć konto</h4>
        </div>
        <div class="mt-3">
          <a href="/register" class="btn btn-secondary">
            <i class="fa fa-user-plus"></i>
            Przejdź do rejestracji
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
