<main>
  <div class="container justify-content-md-center p-2">
    <div class="row my-3">
      <h3>Udostępnione dla mnie</h3>
    </div>
    <div class="row justify-content-md-center mt-5" [hidden]="filesNotEmpty()">
      <h4>Brak plików</h4>
    </div>
    <div class="row justify-content-md-center" [hidden]="!filesNotEmpty()">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th scope="col" style="width: 50px;"></th>
            <th scope="col">Nazwa pliku</th>
            <th scope="col">Data utworzenia</th>
            <th scope="col">Rozmiar [bajty]</th>
            <th scope="col">Właściciel</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let file of sharedFiles">
            <td *ngIf="file.is_dir"><img src="assets/img/directory.png" (click)="goToDirectory(file)" style="width:40px; cursor: pointer;"></td>
            <td *ngIf="file.is_dir"><a href="javascript:void(0);" (click)="goToDirectory(file)">{{file.filename}}</a></td>
            <td *ngIf="!file.is_dir"><img src="{{getFileAsset(file.filename)}}" style="width:40px"></td>
            <td *ngIf="!file.is_dir">{{file.filename}}</td>
            <td>{{file.creation_date | date:'yyyy-MM-dd HH:mm' : '+0000'}}</td>
            <td>{{file.size}}</td>
            <td>{{findUsernameById(file.owner)}}</td>
            <td>
              <i *ngIf="!file.is_dir" class="fa fa-download my-tooltip" style="cursor: pointer;"
                 (click)="download(file)" placement="top" ngbTooltip="Pobierz" tooltipClass="my-tooltip">
              </i>
            </td>
          </tr>
          </tbody>
        </table>
    </div>
  </div>
</main>
