<main>
  <div class="container justify-content-md-center p-2">
    <div class="row p-3">
      <div [hidden]="!showDeleteErrorMessage" class="alert alert-danger w-100">
        Błąd podczas usuwania pliku. Spróbuj ponownie.
      </div>
      <div [hidden]="!showAddFileErrorMessage" class="alert alert-danger w-100">
        Błąd podczas dodawania pliku. Spróbuj ponownie.
      </div>
      <div [hidden]="!showAddDirErrorMessage" class="alert alert-danger w-100">
        Błąd podczas dodawania folderu. Spróbuj ponownie.
      </div>
      <div [hidden]="!showShareErrorMessage" class="alert alert-danger w-100">
        Błąd podczas udostępniania. Spróbuj ponownie.
      </div>
      <div [hidden]="!showShareSuccessMessage" class="alert alert-success w-100">
        Zasób został udostępniony wybranym znajomym.
      </div>
      <div [hidden]="!showEncryptErrorMessage" class="alert alert-danger w-100">
        Błąd podczas szyfrowania. Spróbuj ponownie.
      </div>
      <div [hidden]="!showEncryptSuccessMessage" class="alert alert-success w-100">
        Zasób został zaszyfrowany.
      </div>
      <div [hidden]="!showDecryptErrorMessage" class="alert alert-danger w-100">
        Błąd podczas odszyfrowania. Spróbuj ponownie.
      </div>
      <div [hidden]="!showDecryptSuccessMessage" class="alert alert-success w-100">
        Zasób został odszyfrowany.
      </div>
    </div>
    <div class="row justify-content-start my-3">
      <i class="fa fa-cloud-download-alt fa-2x" (click)="goToUpperDirectory(0)" style="cursor: pointer;"></i>
      <h3 *ngFor="let segment of segments; let i = index" [attr.data-index]="i" (click)="goToUpperDirectory(i+1)" style="cursor: pointer;">&nbsp;/{{segment.path}}</h3>
    </div>
    <div class="row justify-content-end my-3">
      <button class="btn btn-secondary m-2" (click)="addFile()">
        <i class="fa fa-plus"></i>
        Dodaj plik
      </button>
      <button class="btn btn-secondary m-2" (click)="createDirectory()">
        <i class="fa fa-folder-plus"></i>
        Utwórz folder
      </button>
    </div>
    <div class="row justify-content-md-center mt-5" [hidden]="filesNotEmpty()">
      <h4>Brak plików</h4>
    </div>
    <div class="row justify-content-md-center" [hidden]="!filesNotEmpty()">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th scope="col" style="width: 50px;"></th>
            <th scope="col">Nazwa pliku</th>
            <th scope="col">Data utworzenia</th>
            <th scope="col">Rozmiar [bajty]</th>
            <th scope="col">Ilość pobrań</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let file of files">
            <td *ngIf="file.is_dir"><img src="assets/img/directory.png" (click)="goToLowerDirectory(file)" style="width:40px; cursor: pointer;"></td>
            <td *ngIf="file.is_dir"><a href="javascript:void(0);" (click)="goToLowerDirectory(file)">{{file.name}}</a></td>
            <td *ngIf="!file.is_dir"><img src="{{getFileAsset(file.name)}}" style="width:40px"></td>
            <td *ngIf="!file.is_dir">{{file.name}}</td>
            <td>{{file.creation_date | date:'yyyy-MM-dd HH:mm' : '+0000'}}</td>
            <td>{{file.size}}</td>
            <td><span *ngIf="!file.is_dir">{{getStat(file.name)}}</span></td>
            <td>
              <div class="dropdown">
                <i class="fa fa-ellipsis-h my-tooltip" data-toggle="dropdown"
                   placement="top" ngbTooltip="Opcje" tooltipClass="my-tooltip"></i>
                <div class="dropdown-menu">
                  <a *ngIf="!file.is_dir" class="dropdown-item" style="cursor: pointer;" (click)="delete(file)">
                    <i class="fa fa-trash mr-2"></i>Usuń
                  </a>
                  <a *ngIf="!file.is_dir && !isEncrypted(file)" class="dropdown-item" style="cursor: pointer;" (click)="download(file)">
                    <i class="fa fa-download mr-2"></i>Pobierz
                  </a>
                  <a *ngIf="!isEncrypted(file)" class="dropdown-item" style="cursor: pointer;" (click)="shareAsLink(file)">
                    <i class="fa fa-share-alt mr-2"></i>Udostępnij jako link
                  </a>
                  <a *ngIf="!isEncrypted(file)" class="dropdown-item" style="cursor: pointer;" (click)="shareWithFriends(file)">
                    <i class="fa fa-share-alt mr-2"></i>Udostępnij znajomym
                  </a>
                  <a *ngIf="!file.is_dir && !isEncrypted(file)" class="dropdown-item" style="cursor: pointer;" (click)="encrypt(file)">
                    <i class="fa fa-lock mr-2"></i>Szyfruj
                  </a>
                  <a *ngIf="!file.is_dir && isEncrypted(file)" class="dropdown-item" style="cursor: pointer;" (click)="decrypt(file)">
                    <i class="fa fa-lock-open mr-1"></i>Rozszyfruj
                  </a>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
    </div>
  </div>

  <div class="modal fade" id="deleteFileModal" tabindex="-1" role="dialog" aria-labelledby="deleteFileModalTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteFileModalTitle">Usuwanie pliku</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label>Czy na pewno chcesz trwale usunąć {{this.selectedFile ? this.selectedFile.name : ""}}? </label>
        </div>
        <div class="modal-footer">
          <button type="button" [hidden]="true" id="showDeleteFileModalButton" data-toggle="modal" data-target="#deleteFileModal">Pokaż</button>
          <button type="button" class="btn btn-secondary" id="closeDeleteFileModalButton" data-dismiss="modal">Zamknij</button>
          <button type="button" class="btn btn-primary" (click)="confirmDeleteFile()">Usuń</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addFileModal" tabindex="-1" role="dialog" aria-labelledby="addFileModalTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addFileModalTitle">Dodawanie pliku</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <input type="file" id="inputFile">
          </div>
          <div>
            <span class="text-danger" [hidden]="!showEmptyFileMessage">Brak wybranego pliku</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" [hidden]="true" id="showAddFileModalButton" data-toggle="modal" data-target="#addFileModal">Pokaż</button>
          <button type="button" class="btn btn-secondary" id="closeAddFileModalButton" data-dismiss="modal">Zamknij</button>
          <button type="button" class="btn btn-primary" (click)="confirmAddFile()">Dodaj</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addDirModal" tabindex="-1" role="dialog" aria-labelledby="addDirModalTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addDirModalTitle">Tworzenie folderu</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <label for="dirName">Nazwa folderu:</label>
            <input class="ml-2 mr-2" style="width: 340px" type="text" id="dirName">
          </div>
          <div style="margin-left: 115px">
            <span class="text-danger" [hidden]="!showInvalidFolderNameMessage">Pole nie może być puste</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" [hidden]="true" id="showAddDirModalButton" data-toggle="modal" data-target="#addDirModal">Pokaż</button>
          <button type="button" class="btn btn-secondary" id="closeAddDirModalButton" data-dismiss="modal">Zamknij</button>
          <button type="button" class="btn btn-primary" (click)="confirmCreateDirectory()">Utwórz</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="shareAsLinkModal" tabindex="-1" role="dialog"
       aria-labelledby="shareAsLinkModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="shareAsLinkModalTitle">Udostępnianie jako link</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>Link:</div>
          <input id="linkToSharedResource" type="text" class="w-100" [(ngModel)]="sharedUrl" readonly>
        </div>
        <div class="modal-footer">
          <button type="button" [hidden]="true" id="showShareAsLinkModalButton" data-toggle="modal" data-target="#shareAsLinkModal">Pokaż</button>
          <button type="button" class="btn btn-secondary" id="copyLinkModalButton" data-dismiss="modal" (click)="copyToClipBoard()">Skopiuj do schowka</button>
          <button type="button" class="btn btn-primary" id="closeShareAsLinkModalButton" data-dismiss="modal">Zamknij</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="shareWithFriendsModal" tabindex="-1" role="dialog"
       aria-labelledby="shareWithFriendsModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="shareWithFriendsModalTitle">Udostępnianie znajomym</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>Wybierz znajomych:</div>
          <select id="selectedFriends" class="w-100" multiple>
            <option *ngFor="let friend of friends" [value]="friend.id">{{friend.username}}</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" [hidden]="true" id="showShareWithFriendsModalButton" data-toggle="modal" data-target="#shareWithFriendsModal">Pokaż</button>
          <button type="button" class="btn btn-secondary" id="closeShareWithFriendsModalButton" data-dismiss="modal">Zamknij</button>
          <button type="button" class="btn btn-primary" (click)="confirmShareWithFriends()">Udostępnij</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="encryptModal" tabindex="-1" role="dialog" aria-labelledby="encryptModalTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="encryptModalTitle">Szyfrowanie</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <label for="dirName">Podaj hasło:</label>
            <input class="ml-2 mr-2" style="width: 340px" type="password" id="encryptPassword" [(ngModel)]="encryptPassword">
          </div>
          <div style="margin-left: 115px">
            <span class="text-danger" [hidden]="!showInvalidEncryptPasswordMessage">Pole nie może być puste</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" [hidden]="true" id="showEncryptModalButton" data-toggle="modal" data-target="#encryptModal">Pokaż</button>
          <button type="button" class="btn btn-secondary" id="closeEncryptModalButton" data-dismiss="modal">Zamknij</button>
          <button type="button" class="btn btn-primary" (click)="confirmEncrypt()">Szyfruj</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="decryptModal" tabindex="-1" role="dialog" aria-labelledby="decryptModalTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="decryptModalTitle">Odszyfrowanie</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <label for="dirName">Podaj hasło:</label>
            <input class="ml-2 mr-2" style="width: 340px" type="password" id="decryptPassword" [(ngModel)]="decryptPassword">
          </div>
          <div style="margin-left: 115px">
            <span class="text-danger" [hidden]="!showInvalidDecryptPasswordMessage">Pole nie może być puste</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" [hidden]="true" id="showDecryptModalButton" data-toggle="modal" data-target="#decryptModal">Pokaż</button>
          <button type="button" class="btn btn-secondary" id="closeDecryptModalButton" data-dismiss="modal">Zamknij</button>
          <button type="button" class="btn btn-primary" (click)="confirmDecrypt()">Szyfruj</button>
        </div>
      </div>
    </div>
  </div>
</main>
