<main>
  <div class="container">
    <div class="row p-3">
      <div [hidden]="!addFriendSuccess" class="alert alert-success w-100">
        Zaproszenie zostało wysłane.
      </div>
      <div [hidden]="!addFriendError" class="alert alert-danger w-100">
        Błąd podczas wysyłania zaproszenia. Spróbuj ponownie.
      </div>
      <div [hidden]="!acceptFriendSuccess" class="alert alert-success w-100">
        Zaproszenie zostało zaakceptowane.
      </div>
      <div [hidden]="!acceptFriendError" class="alert alert-danger w-100">
        Błąd podczas akceptacji zaproszenia. Spróbuj ponownie.
      </div>
      <div [hidden]="!rejectFriendSuccess" class="alert alert-success w-100">
        Zaproszenie zostało odrzucone.
      </div>
      <div [hidden]="!rejectFriendError" class="alert alert-danger w-100">
        Błąd podczas odrzucania zaproszenia. Spróbuj ponownie.
      </div>
      <div [hidden]="!deleteFriendSuccess" class="alert alert-success w-100">
        Znajomy został usunięty.
      </div>
      <div [hidden]="!deleteFriendError" class="alert alert-danger w-100">
        Błąd podczas usuwania znajomego. Spróbuj ponownie.
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="container mt-5 mb-3 p-0">
          <h4>Oczekujące zaproszenia</h4>
        </div>
        <table class="table w-50">
          <tbody>
          <tr *ngFor="let request of requests">
            <td>{{this.findUsernameById(request.from_user)}}</td>
            <td>
              <i class="fa fa-user-check mr-2 my-tooltip" placement="top" ngbTooltip="Zaakceptuj"
                 tooltipClass="my-tooltip" (click)="accept(request.from_user)"></i>
              <i class="fa fa-user-times my-tooltip" placement="top" ngbTooltip="Odrzuć"
                 tooltipClass="my-tooltip" (click)="reject(request.from_user)"></i>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-4">
        <div class="container mt-5 mb-5 p-0">
          <h4>Wyślij zaproszenie</h4>
        </div>
        <div>
          <form role="form" class="w-75" [formGroup]="addFriendForm" (submit)="addFriend($event)" novalidate id="addFriendForm">
            <div class="form-group">
              <label for="username">Login:</label>
              <input type="text" class="form-control" formControlName="username" id="username" name="username" required/>
              <div *ngIf="addFriendForm.controls['username'].invalid && (addFriendForm.controls['username'].dirty || addFriendForm.controls['username'].touched)" class="text-danger">
                Pole nie może być puste
              </div>
            </div>
            <div class="w-100 text-center mt-4">
              <button type="submit" [disabled]="addFriendForm.controls['username'].invalid" class="btn btn-secondary">
                <i class="fa fa-user-plus"></i>
                Wyślij
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-left">
      <div class="col-6">
        <div class="container mt-5 mb-3 p-0">
          <h4>Znajomi</h4>
        </div>
        <table class="table w-25">
          <tbody>
          <tr *ngFor="let friend of friends">
            <td>{{friend.username}}</td>
            <td>
              <i class="fa fa-user-minus my-tooltip" placement="top" ngbTooltip="Usuń" tooltipClass="my-tooltip"
                 (click)="remove(friend)"></i>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
