html {
  height: 100%;
}

body, main{
  background-color: #f2f2f2 !important;
  min-height: 100%;
}

main {
  padding-top: 100px;
  padding-bottom: 80px;
}

@media screen and (max-width: 1000px) {
  main{
    padding-top: 200px !important;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.my-tooltip .tooltip-inner {
  background-color: #303332;
}

.my-tooltip .arrow::before {
  border-top-color: #303332 !important;
}
